{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'assets/img/logo.png'%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    <script type="module" crossorigin src="{% static 'member/assets/index-CfHV8fN3.js'%}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'member/assets/index-DH7mvt6o.css'%}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
