{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body>
{% csrf_token %}
    <section class="forms-section">
        <div class="forms">
            <div class="form-wrapper is-active">
                <button type="button" class="switcher switcher-login" action="/home">
                    Login
                    <span class="underline"></span>
                </button>
                <form class="form form-login" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Please, enter your phone number and password for login.</legend>
                        <div class="input-block">
                            <label for="login-phone">Phone number</label>
                            <input id="login-phone" name="phone" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="login-password">Password</label>
                            <input id="login-password" name="password" type="password" required>
                        </div>
                        <div class="terms-block">
                            <input type="checkbox" id="read-terms">
                            <label for="read-terms">I have read the <a href="/privacypolicy" target="_blank">Terms and Conditions</a></label>
                        </div>
                        <div class="terms-block">
                            <input type="checkbox" id="agree-terms">
                            <label for="agree-terms">I agree with the Terms and Conditions</label>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login" id="login-button" disabled>Login</button>
                </form>
            </div>
            <div class="form-wrapper">
                <button type="button" class="switcher switcher-signup">
                    Sign Up
                    <span class="underline"></span>
                </button>
                <form class="form form-signup" action="/signup">
                    <fieldset>
                        <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                        <div class="input-block">
                            <label for="Name">Name</label>
                            <input id="signup-name" type="name" required>
                        </div>
                        <div class="input-block">
                            <label for="signup-phone">Phone no.</label>
                            <input id="signup-email" type="phone" required>
                        </div>
                        <div class="input-block">
                            <label for="signup-password">Password</label>
                            <input id="signup-password" type="password" required>
                        </div>
                        <div class="input-block">
                            <label for="signup-password-confirm">Confirm password</label>
                            <input id="signup-password-confirm" type="password" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-signup">Continue</button>
                </form>
            </div>
        </div>
    </section>
    <script src="{% static 'assets/js/script.js'%}"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const readTermsCheckbox = document.getElementById("read-terms");
            const agreeTermsCheckbox = document.getElementById("agree-terms");
            const loginButton = document.getElementById("login-button");

            function toggleLoginButton() {
                if (readTermsCheckbox.checked && agreeTermsCheckbox.checked) {
                    loginButton.disabled = false;
                } else {
                    loginButton.disabled = true;
                }
            }

            readTermsCheckbox.addEventListener("change", toggleLoginButton);
            agreeTermsCheckbox.addEventListener("change", toggleLoginButton);
        });
    </script>

</body>
</html>
