{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Offer</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Unlock Your Future with Our Courses</h1>
        <p class="offer-text">We are offering every course for just <span class="highlight">₹499/-</span>. After paying the amount, you can change your domain by filling out our company form.</p>
        
        <!-- Trending Courses Section -->
        <div class="slider-box">
            <h2>Trending Courses</h2>
            <div class="slider">
                <div class="card">
                    <img class="background" src="{% static 'assets/img/courses/artificial-intelligence.jpg.webp' %}" alt="AI Image">
                    <div class="card-content">
                        <h3 class="title">Artificial Intelligence</h3>
                    </div>
                </div>
                <div class="card active">
                    <img class="background" src="{% static 'assets/img/courses/machine-learning.jpg' %}" alt="Machine Learning Image">
                    <div class="card-content">
                        <h3 class="title">Machine Learning</h3>
                    </div>
                </div>
                <div class="card">
                    <img class="background" src="{% static 'assets/img/courses/data-science.jpg.webp' %}" alt="Data Science Image">
                    <div class="card-content">
                        <h3 class="title">Data Science</h3>
                    </div>
                </div>
                <div class="card">
                    <img class="background" src="{% static 'assets/img/courses/web-development.jpg.webp' %}" alt="Embedded Systems Image">
                    <div class="card-content">
                        <h3 class="title">Web Development</h3>
                    </div>
                </div>
                <div class="card">
                    <img class="background" src="{% static 'assets/img/courses/stock-marketing.jpg.webp' %}" alt="Stock Marketing Image">
                    <div class="card-content">
                        <h3 class="title">Stock Marketing</h3>
                    </div>
                </div>
            </div>
        </div>

        <a href='https://rzp.io/rzp/TH2H59W' class="pay-now-button">Pay Now</a>
    </div>

    <script src="{% static 'assets/js/script2.js' %}"></script>
</body>
</html>